@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --radius: 10px;
  --background: 12, 6%, 15%;
  --foreground: 0, 0%, 100%;
  --card: 0, 0%, 100%;
  --card-foreground: 0, 0%, 4%;
  --popover: 24, 10%, 10%;
  --popover-foreground: 0, 0%, 100%;
  --primary: 160, 100%, 30%;
  --primary-foreground: 0, 0%, 98%;
  --primary-rgb: 163, 100%, 19%;
  --primary-rgb-foreground: 0, 0%, 98%;
  --secondary: 24, 10%, 10%;
  --secondary-foreground: 0, 0%, 100%;
  --muted: 33, 7%, 25%;
  --muted-foreground: 47, 14%, 60%;
  --accent: 12, 6%, 15%;
  --accent-foreground: 0, 0%, 100%;
  --destructive: 357, 100%, 45%;
  --destructive-foreground: 357, 100%, 45%;
  --border: 0, 0%, 90%;
  --input: 0, 0%, 90%;
  --ring: 0, 0%, 63%;
  --chart-1: 18, 100%, 48%;
  --chart-2: 175, 100%, 29%;
  --chart-3: 196, 72%, 23%;
  --chart-4: 44, 100%, 50%;
  --chart-5: 36, 100%, 50%;
  --sidebar: 0, 0%, 98%;
  --sidebar-foreground: 0, 0%, 4%;
  --sidebar-primary: 0, 0%, 9%;
  --sidebar-primary-foreground: 0, 0%, 98%;
  --sidebar-accent: 0, 0%, 96%;
  --sidebar-accent-foreground: 0, 0%, 9%;
  --sidebar-border: 0, 0%, 90%;
  --sidebar-ring: 0, 0%, 63%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-mono;
  }
  body {
    @apply text-accent-foreground lg:text-foreground;
  }
}
